<head>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
		  <style type="text/css">#hr {
		color:#E0E0EB;
		background-color:#E0E0EB;
		height:3px;
		
		}
	</style> 
</head>
<div class="container">
<div class="header">
        <h2 class="text-muted">Agricultural Management Zone Creator</h2>
      </div>
	  <hr id="hr">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                
                <h3>
					Looks like you forgot to fill in a parameter, please try again.</h3>
					
                <br>
                <div class="error-actions">
                    <a href="{{url_for('index')}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    Take Me Home </a>
					<a href="mailto:camdenl@uga.edu?Subject=EZZone%20Error" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> 
					Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
