<!DOCTYPE html>
<html lang="en">

<head>
    <title>EZZone: The free and easy Agricultural Management Zone Delineation tool! </title>
    <meta name="description" content="EZZone is a user-friendly tool designed to produce usable Agricultural Management Zones.  The application guides the user through the process and makes it quick and easy to determine the characteristics of a field.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="static/css/tooltipster-shadow.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.file-input.js"></script>
    <script src="static/js/papaparse.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.tooltipster.min.js"></script>
    <style type="text/css">
        .page-header {
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 0px;
        }

        #logo {
            max-height: 80px !important;
            -webkit-border-image: -webkit-linear-gradient(left, #e00203, #0870ae) 0 0 100% 0/0 0 5px 0 stretch;
        }

        #left {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #precAg {
            margin: 0 auto;
            min-height: 90 px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #right {
            padding-bottom: 0;
        }

        #support {
            margin: 0 auto;
        }

        h4 {
            margin-top: 5px;
            margin-bottom: 10px;
            !important
        }

        h3 {
            margin-top: 0px;
        }

        h2 {
            margin-top: 0px;
        }

        .btn-sm {
            margin-bottom: 10px;
            border: 0;
        }

        #left, #right {
            margin-top: 15px;
            border-radius: 15px;
            box-shadow: 6px 6px 3px 3px lightGrey;
            border-top: 2px solid lightGrey;
            border-left: 2px solid lightGrey;
            padding: 20px;
        }

        #smoothSlider.slider-selection {
            background: #BABABA;
        }
    </style>
    <script type="text/javascript">
        //used to display vri or other field row spacing options
        function Display(i) {
            row = document.getElementById("row");
            vri = document.getElementById("vri");
            if (i == 2) {
                row.style.display = "none";
                vri.style.display = "block";
            } else {
                row.style.display = "block";
                vri.style.display = "none";

            }
        }
        $(document).ready(function () {
            $('#fileclick').tooltipster({
                content: $('<span>' + '<p > The data uploaded should be a .txt file or .csv file.  The file should ' + 'have <i> at least </i> three columns: </p>' + '<p class= "text-center"><strong>Longitude, Latitude, Value to Zone</strong>' + '</p><p> Here is an example text file with the required columns (note X is Longitude and Y is Latitude in most GIS applications):' + '</p><img src="static/img/text_file_ex.PNG" class="img-responsive center-block"></span>'),
                maxWidth: 300,
                theme: 'tooltipster-shadow',
                position: 'bottom'

            });
            $('#epsgclick').tooltipster({
                content: $('<span>' + "<p > EPSG codes are used to define Coordinate Reference Systems so that we can display data on maps of the Earth's surface.  If you haven't done any GIS manipulation of your data set, then the default value will most likely work for your data set.  Otherwise you will need to know the EPSG code for your data to continue.</p></span>"),
                maxWidth: 300,
                theme: 'tooltipster-shadow'
            });
            $('#fieldclick').tooltipster({
                content: $('<span>' + "<p>If your field is a well defined rectangle then choose <i> Rectangular</i>.</p><p>If your field has <a href='http://www.nespal.org/vri.html' target='_blank'>Variable Rate Irrigation</a> and you want to make zones for your pivot then choose <i> Center Pivot with Variable Rate Irrigation </i>	  </p><p>	  If you have any other field type then choose <i>All other field types </i>	  </p></span>"),
                maxWidth: 300,
                interactive: true,
                theme: 'tooltipster-shadow'
            });
            $('#spacingZoneclick').tooltipster({
                content: $('<span><p>Input the row or instrument spacing that the zones should conform to.</p></span>'),
                maxWidth: 200,
                theme: 'tooltipster-shadow'
            });
            $('#spacingSpanclick').tooltipster({
                content: $('<span><p>Input the pivot span spacing that is controllable by the VRI system.</p></span>'),
                maxWidth: 200,
                theme: 'tooltipster-shadow'
            });
            $('#lengthPivotclick').tooltipster({
                content: $('<span><p>Input the length of the entire pivot.</p></span>'),
                maxWidth: 200,
                theme: 'tooltipster-shadow'
            });
            var input = $("#file");
            input.replaceWith(input.val('').clone(true));
            $('#file').on('change', function () {
                var fileType = file.files[0].name.split('.')[1]
                if (fileType === 'csv' || fileType === 'txt') {
                    previewFile(this.files[0]);
                } else {
                    var input = $("#file");
                    input.replaceWith(input.val('').clone(true));
                    if (window.confirm("Only csv and txt files are supported!  If you have an excel file, click 'OK' to find out how to save it as a csv.")) {
                        window.location.href = 'https://support.office.com/en-za/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba';
                    }
                }
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <header class="page-header">

            <img id="logo" src="static/img/logonew.png" class="img-responsive img-center">
        </header>
        <div id="left" class="col-md-6">

            <form action="upload" method="post" enctype="multipart/form-data" id ="dataform">

                <h4>Select a file or click 'Continue' to see example:
		<a id="fileclick"><img src="static/img/qmark.ico" height = 12px style="margin-bottom:10px; margin-left:-5px"></a></h4>
                <input type="file" name="file" id="file" title="Browse for files" data-filename-placement="inside">

                <br>
                <br>
                <div id="preview-table" style="display: none">
                </div>
                <h4>Coordinate Reference System in EPSG:
		<a id="epsgclick"><img src="static/img/qmark.ico" height = 12px style="margin-bottom:10px; margin-left:-5px"></a></h4>
                <input type="text" name="coord" value="4326">
                <br>
                <br>

                <h4>Field Type:
		<a id="fieldclick"><img src="static/img/qmark.ico" height = 12px style="margin-bottom:10px; margin-left:-5px"></a></h4>
                <input type="radio" name="field" value="1" onClick="Display(1)"> Rectangular
                <br>
                <input type="radio" name="field" value="2" onClick="Display(2)"> Center Pivot with Variable Rate Irrigation
                <br>
                <input type="radio" name="field" value="3" checked onClick="Display(1)"> All other field types
                <br>
                <br>
                <div id="row">
                    <h4>Zone Spacing:
		<a id="spacingZoneclick"><img src="static/img/qmark.ico" height = 12px style="margin-bottom:10px; margin-left:-5px"></a></h4>
                    <input type="text" name="row" value="1">
                </div>

                <div id="vri" style="display:none">
                    <h4>Spacing of Span:
		<a id="spacingSpanclick"><img src="static/img/qmark.ico" height = 8px style="margin-bottom:10px; margin-left:-5px"></a></h4>
                    <input type="text" name="spacing" value="25">
                    <br>
                    <h4>Length of Pivot:
		<a id="lengthPivotclick"><img src="static/img/qmark.ico" height = 8px style="margin-bottom:10px; margin-left:-5px"></a></h4>
                    <input type="text" name="length" value="800">
                </div>
                <h4 style="margin-top:10px">Units</h4>
                <select id="units" name = "units" form="dataform">
                    <option name="Meters" value="m" selected>Meters</option>
                    <option name="Feet" value="f">Feet</option>
                </select>
                <br>
                <input style="margin-top:20px" type="submit" value="Continue" class="btn btn-success">
            </form>
            <br>
        </div>
        <div id="right" class="col-md-5 col-md-offset-1">
            <div id="about">
                <h2 class="text-primary"> About This Project</h2>
                <p style=' font-size:18px;'>This is a free online resource for creating Agricultural Management Zones from univariate georeferenced data. The goal is to create zones that are useful to farmers by simplifying zone creation and creating zones that conform to row spacing and equipment specifications.
                </p>
                <div class="row-fluid">
                    <a href='http://vellidis.org/' target='_blank'><img id="precAg" src="static/img/uga_precag.png" class="img-responsive"></a>
                    <div class="text-right">
                        <a href="mailto:camdenlowrance@gmail.com?Subject=EZZone" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span>
					Contact Support </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();
        fileUploaded = false;

        function previewFile(file) {
            if (fileUploaded === true) {
                $('#preview-table').empty();

            }
            processData(file);
            fileUploaded = true;
        }

        function processData(file) {
            Papa.parse(file, {
                complete: function (results) {
                    lines = results.data.slice(0, 5);
                    if (results.errors.length > 0) {
                        res = results;
                        alertString = "EZZone can't parse your file! Here's the error messages: \n"
                        $.each(results.errors, function (index, obj) {
                            alertString += obj.message;
                        })
                        alert(alertString);
                        return;
                    }
                    var table = arrayToTable(lines, {
                        thead: true,
                        attrs: {
                            class: 'table'
                        }
                    });
                    $('#preview-table').append($('<h4>').html("Here's a preview of your file:"));
                    $('#preview-table').append(table);
                    $('#preview-table').append($('<h4>').html('Please select the columns representing the X (Longitude), Y (Latitude) and Z (Value to Zone) values:'));
                    //create the dropdowns to select the headers
                    headerRow = lines[0]
                    $.each(['X', 'Y', 'Z'], function (index, columnType) {
                        var select = $('<select />');
                        select.attr('name', columnType);
                        select.attr('form', 'dataform');
                        $.each(headerRow, function (index, header) {
                            $('<option />', {
                                value: header,
                                text: header
                            }).appendTo(select);

                        });
                        select.val(headerRow[index]);


                        $('#preview-table').append('<b>' + columnType + ':  </b>');
                        $('#preview-table').append(select);
                        $('#preview-table').append('<br />');

                    });

                    $('#preview-table').show();
                }
            });
            //results = Papa.parse(csv, );

        }

        function errorHandler(evt) {
            if (evt.target.error.name == "NotReadableError") {
                alert("Cannot read file!");
            }
        }
        var arrayToTable = function (data, options) {

            "use strict";

            var table = $('<table />'),
                thead,
                tfoot,
                rows = [],
                row,
                i,
                j,
                defaults = {
                    th: true, // should we use th elemenst for the first row
                    thead: false, //should we incldue a thead element with the first row
                    tfoot: false, // should we include a tfoot element with the last row
                    attrs: {} // attributes for the table element, can be used to
                };

            options = $.extend(defaults, options);

            table.attr(options.attrs);

            // loop through all the rows, we will deal with tfoot and thead later
            for (i = 0; i < data.length; i = i + 1) {
                row = $('<tr />');
                for (j = 0; j < data[i].length; j = j + 1) {
                    if (i === 0 && options.th) {
                        row.append($('<th />').html(data[i][j]));
                    } else {
                        row.append($('<td />').html(data[i][j]));
                    }
                }
                rows.push(row);
            }

            // if we want a thead use shift to get it
            if (options.thead) {
                thead = rows.shift();
                thead = $('<thead />').append(thead);
                table.append(thead);
            }

            // add all the rows
            for (i = 0; i < rows.length; i = i + 1) {
                table.append(rows[i]);
            }

            return table;
        };
    </script>
</body>

</html>